# Python
__pycache__/
*.py[cod]
.venv/
venv/

# MkDocs / build statique
site/

# Environnements et secrets
.env
.env.*
*.key
*.pem
*.crt
secrets/
.envrc

# Système / éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
logs/